$color1: #ffa400; //rgba(255, 164, 0, 100)
$color2: #009ffd; //rgba(0, 159, 253, 100)
$color3: #2a2a72; //rgba(42, 42, 114, 100)
$color4: #232528; //rgba(35, 37, 40, 100)
$color5: #eaf6ff; //rgba(234, 246, 255, 100)
$color6: #99d8c9;
$color7: #e5f5f9;

body {

}

.app {
  width: 900px;
}

canvas {

}

.tooltip {
  position: absolute;
  pointer-events: none;
  color: $color1;
  background: $color4;
  padding: 5px 10px;
  border-radius: 5px;
}